html,body{

  height:100%;
}

img {
    max-width: 100%;
}

#nav-main{
  height:auto;

}

.icons>li
{
  margin: 10px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(234, 63, 237);
  width:50px;
  border-radius: 50%;

}
.icons>li>:hover
{
  background-color:rgb(122, 170, 233);
  border-radius: 50px;
}
.ave
{ color: rgb(53, 219, 206);
  padding-top: 20px;
  padding-left: 20px;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(53, 219, 206);
  padding-right: 20px;

}
#cover{
  background: #222 url('img/audi.png')center center no-repeat;
  background-size:cover;
  color:black;
  height:100%;
  text-align: center;
  display :flex;
  align-items: center;
  opacity: 10%;
  padding-right: 50px;
}
#cover-caption{
  width:100%;
}
#form{
  align-content: center;
}
#fav{
  background-color:rgb(231, 186, 127);
  text-align:center;
  color:white;

}

#niki{
  font-family:'Just Another Hand',cursive;

  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}
#wishes{
  font-family: 'Gloria Hallelujah', cursive;
  padding-top: 50px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;


}
@keyframes example {
    from {color: black;}
    to {color: white;}
}

.sec_1_p1{
  color:rgb(238, 10, 236);
  font-family:  'Amatic SC', cursive;
  font-size: 40px;

}


#ammu{
  height: 600px;
  background: #222 url(img/bg3.png) center center no-repeat ;

}
.col-1{

  padding-top: 270px;

}

#pg2{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.pg2{
  text-align: center;
}

#ammu1{
  height: 600px;
  background: #222 url(img/pizza.png) center center no-repeat ;

}
.col-2{

  padding-top: 270px;

}

#pg3{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.pg3{
  text-align: center;
}
#carousel_1{

  width:100%;
}
